/*Mobile big*/
@media screen and (min-width:480px){
    .first-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.second-icons{
        display: flex;
        flex-direction: column;
        align-items: center;

}



}