
.principal-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}


.spacebar{
    width: 10vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    

}


.main-container{
    display: flex;
    width: 90vw;
    height: 90vh;
    justify-items: right;

}

.main-btn{
    display: flex;
    height: fit-content;
    width: 90vw;
    justify-content: end;
}


.footer{

    width: 100vw;
    height: 10vh;
}

/*spacebar-items*/

svg{
    width: 15px;
    height: 15px;
}

.first-icons{
    text-align: center;
}

.second-icons{
    text-align: center;
}