
.principal-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}


.spacebar{
    width: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    color:white;
    

}


.main-container{
    display: flex;
    width: 90%;
    height: 90%;
    justify-items: right;
    background-color: #141922;

}

.main-btn{
    display: flex;
    height: 15%;
    width: 100vw;
    justify-content: end;
    align-items: center;
    background-color: #080B12;
}

.header-button{
    height: 50%;
    width: 40%;
    border-radius: 50px;
    padding: 5px;
}


.footer{

    width: 100%;
    height: 10%;
    background-color: #282828;
}

/*spacebar-items*/

.svg-standard,
.spotify-logo{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.svg-small{
    width: 10px;
    height: 10px;
    margin-bottom: 10px;;
}


.first-icons{
    text-align: center;
}

.second-icons{
    text-align: center;
}


.spotify-logo--text{
    display: none;
}









